@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222831;
}

.button-container {
  border: 2px solid #000;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: inset 0 20px 10px -15px rgba(255, 255, 255, 0.7);
}

#button {
  font-family: 'Pacifico', cursive;
  font-size: 32px;
  padding: 30px 60px;
  border: none;
  border-radius: 10px;
  background-color: #00adb5;
  color: #fff;
  cursor: pointer;
  outline: none;
  box-shadow: inset 0 20px 10px -8px rgba(255, 255, 255, 0.4), 0 12px 12px 0 rgba(0, 0, 0, 0.4);
  text-shadow: 0 6px 7px rgba(0, 0, 0, 0.8);
  transition: background-color 0.3s ease;
}

#button:hover {
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
}

#button:active {
  transform: translateY(3px);
  box-shadow: inset 0 20px 10px -8px rgba(255, 255, 255, 0.4), 0 5px 5px 0 rgba(0, 0, 0, 0.4);
}